:root {
    --golden-glow: #FFD700;
    --golden-hover: #B8860B;
    --background-alpha: rgba(18, 18, 18, 0.54);
    
    
    --nav-link-font-size: 18px;
    --nav-icon-size: 27px;
}

.custom-nav {
    position: sticky;
    top: 35px;
    width: 60vw;
  
   
    z-index: 1000;
   
}

.custom-nav .custom-ul-glow {
    background-color: var(--background-alpha);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow:
        0 0 5px var(--golden-glow),
        0 0 5px var(--golden-glow),
        0 0 5px rgba(255, 215, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.custom-nav {
    width: 60vw;
    margin: 0px auto 0;
   
}

.nav-link {
    font-size: var(--nav-link-font-size);
    padding: 10px 15px !important;
    transition: 0.3s;
}

.custom-link .nav-link {
    transition: color 0.3s ease;
}

.custom-link:hover .nav-link,
.custom-link .active {
    color: var(--golden-hover) !important;
}

.custom-light-icon {
    font-size: var(--nav-icon-size);
    color: var(--golden-glow);
    transition: color 0.3s ease;
}

.custom-light-btn:hover .custom-light-icon {
    color: #ffffff;
}




@media (max-width: 991.98px) {
    :root {
        --nav-link-font-size: 16px;
        --nav-icon-size: 24px;
    }
    .custom-nav {
        width: 85vw;
       
    }
    .nav-link {
        padding: 8px 12px !important;
    }
}


@media (max-width: 767.98px) {
    :root {
        --nav-link-font-size: 14px;
        --nav-icon-size: 20px;
    }
    .custom-nav {
        width: 95vw;
        margin: 0px auto 0;
        
    }
    .nav-link {
        padding: 5px 8px !important;
    }
    .custom-ul-glow {
        flex-wrap: wrap; 
        padding: 8px !important;
    }
    .nav-item {
        flex-basis: 45%; 
        text-align: center;
        margin-bottom: 5px;
    }
}