@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #121212;
  --gold: #B8860B;
  --golden-glow: #FFD700;
  --title: #ffffff;
  --supTitle: rgb(161, 161, 170);
  
  --font-size-base: 16px;
  --font-size-large: 20px;
  --font-size-h1: 48px;
  --font-size-h2: 36px;
}

html {
  color: #ffff;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-base);
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
}

.parentOfAll {
  margin: auto;
  width: 90%;
  background: rgb(37, 37, 37);
  min-height: 100vh;
  padding: 20px 40px;
  background-color: #2c2c2c;
  color: #ffffff;
  border-radius: 8px;
  border: 2px solid var(--golden-glow);
  margin-bottom: 100px;
  box-shadow:
    0 0 10px var(--golden-glow),
    0 0 10px var(--golden-glow),
    0 0 40px rgba(255, 215, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.parentOfAll:hover {
  box-shadow:
    0 0 15px var(--golden-glow),
    0 0 15px var(--golden-glow),
    0 0 60px rgba(255, 215, 0, 0.8);
}

.light {
  background-color: #fff;
}


@media (max-width: 575.98px) {
  :root {
    
    --font-size-base: 14px;
    --font-size-large: 16px;
    --font-size-h1: 32px;
    --font-size-h2: 24px;
  }
  .parentOfAll {
    width: 95%; 
    padding: 10px 15px; 
    margin-bottom: 50px; 
  }
  body {
    padding-top: 15px; 
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  :root {
    
    --font-size-base: 15px;
    --font-size-large: 18px;
    --font-size-h1: 38px;
    --font-size-h2: 28px;
  }
  .parentOfAll {
    padding: 15px 25px; 
    margin-bottom: 75px;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  :root {
    
    --font-size-base: 15.5px;
    --font-size-large: 19px;
    --font-size-h1: 42px;
    --font-size-h2: 32px;
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  .parentOfAll {
    width: 85%; 
  }
}